/*body {
    /*background-color: #f0f0f0;*/
  /*  color: #333;
    transition: background-color 0.3s ease;
  }
  
  .container {
    max-width: 600px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  /* Dark mode styles */
  /*.dark-mode {
    background-color: #333;
    color: #fff;
  }
  */
  /* index.css */
body {
  transition: background-color 0.5s ease;
}

.dark-mode {
  background-color: black;
  color: #fff;
}
